@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --color-main: #7fc4d8ea;
  --color-font-black: #333333;
  --color-light-black: #565656;
  --color-faint-gray: #f3f3f3;
  --color-red: #ea7979;
  --color-dark-red: #d16c6c;
}

body {
  font-family: "Noto Sans KR", serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.isScrolling::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.3);
}